<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="profileApp">
<!-- HEAD -->
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>XTRAC | Career Center</title>
<meta name="keywords" content=" " />
<meta name="description" content=" ">
<meta name="author" content=" ">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- GLOBAL MANDATORY STYLES -->
<link href='https://fonts.googleapis.com/css?family=Roboto:100,400,700,500,300,300italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/plugins/et-line/et-line.css" rel="stylesheet" type="text/css"/>
<link href="assets/plugins/themify/themify.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->

<!-- BEGIN THEME PLUGINS STYLE -->
<link href="assets/plugins/scrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css"/>
<link href="assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css"/>
<!-- END THEME PLUGINS STYLE -->

<!-- THEME STYLES -->
<link href="assets/css/global.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->

<!-- THEME -->
<link href="assets/css/theme/dark.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/theme/base.css" rel="stylesheet" type="text/css" id="style-color"/>

<link rel="stylesheet" href="assets/css/profile.css">
<!-- END THEME -->

<!-- BEGIN JQUERY -->
<script type="text/javascript" src="assets/plugins/jquery.min.js"></script>
<!-- END JQUERY -->

<!-- FAVICON -->
<link rel="shortcut icon" href="favicon.ico"/>
<!-- END FAVICON -->
</head>
<!-- END HEAD -->
<!-- BODY -->
<body ng-controller="ProfileController as vm">

<!-- WRAPPER -->
<div class="wrapper animsition">
    <!--========== HEADER TRANSPARENT ==========-->
    <header class="header-transparent header-transparent-bb navbar-fixed-top header-sticky">
        <!-- Navbar -->
        <nav class="navbar mega-menu" role="navigation">
            <div class="container">
            
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="menu-container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="toggle-icon"></span>
                    </button>

                    <!-- Navbar Actions -->
                    <div class="navbar-actions">
                    
                        <!-- Login Button -->
                        <ul class="nav navbar-nav">
	                        <!-- Login -->
	                        <li class="nav-item nav-item-bg form-modal-nav radius-50">
	                            <a class="nav-item-child form-modal-login radius-50" href="login.html">Login</a>
	                        </li>
	                        <!-- End Login -->
                        </ul>
                        <!-- End Login Button -->
                        
                        <!-- Search Fullscreen
                        <div class="navbar-actions-shrink search-fullscreen search-fullscreen-trigger-white">
                            <div class="search-fullscreen-trigger">
                                <i class="search-fullscreen-trigger-icon ti-search"></i>
                            </div>
                            <div class="search-fullscreen-overlay">
                                <div class="search-fullscreen-overlay-content">
                                    <div class="search-fullscreen-input-group">
                                        <input type="text" class="form-control search-fullscreen-input" placeholder="Search for ...">
                                        <button class="search-fullscreen-search" type="button"><i class="search-fullscreen-search-icon fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="search-fullscreen-bg-overlay">
                                <div class="search-fullscreen-close">&times;</div>
                            </div>
                        </div>
                        End Search Fullscreen -->

                        <!-- Sidebar -->
                        <a class="navbar-actions-shrink sidebar-trigger sidebar-trigger-style-white" href="javascript:void(0);">
                            <span class="sidebar-trigger-icon"></span>
                        </a>
                        <!-- End Sidebar -->
                    </div>
                    <!-- End Navbar Actions -->

                    <!-- Logo -->
                    <div class="navbar-logo">
                        <a class="navbar-logo-wrap" href="index.html">
                            <img class="navbar-logo-img navbar-logo-img-white" src="assets/img/logo-default-white.png" alt="Ark">
                            <img class="navbar-logo-img navbar-logo-img-dark" src="assets/img/logo-default.png" alt="Ark">
                        </a>
                    </div>
                    <!-- End Logo -->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-collapse">
                    <div class="menu-container">
                        <ul class="nav navbar-nav">
                            <!-- Home -->
                            <li class="nav-item">
                                <a class="nav-item-child radius-3" href="index.html">
                                    Home
                                </a>
                            </li>
                            <!-- End Home -->

                            <!-- Assessments -->
                            <li class="nav-item dropdown mega-menu-fullwidth">
                                <a class="nav-item-child dropdown-toggle radius-3" href="assessments.html">
                                    Assessments
                                </a>
                            </li>
                            <!-- End Assessments -->
                            
                            <li class="nav-item">
                                <a class="nav-item-child radius-3 active" href="profile.html">
                                    Build Your Profile
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Navbar Collapse -->
            </div>
            <!--// End Container-->
        </nav>
        <!-- Navbar -->
    </header>
    <!--========== END HEADER TRANSPARENT ==========-->

    <!--========== SIDEBAR ==========-->
    <div class="sidebar-nav scrollbar">
        <a class="sidebar-trigger sidebar-nav-trigger" href="javascript:void(0);">
            <span class="sidebar-trigger-icon"></span>
        </a>
        <div class="sidebar-nav-content">
            <h3 class="sidebar-nav-title">Get In Touch</h3>
            <p class="sidebar-nav-about-text"><span class="fweight-400">Address:</span> 49 North 400 West, Salt Lake City, UT</p>
            <p class="sidebar-nav-about-text"><span class="fweight-400">Phone:</span> (801) 537-4775</p>
            <p class="sidebar-nav-about-text margin-b-40"><span class="fweight-400">Email:</span> <a class="sidebar-nav-about-link" href="mailto:nathan.muirbrook@fmr.com">nathan.muirbrook@fmr.com</a></p>
            <input type="text" class="form-control sidebar-nav-comment-input margin-b-10 radius-3" placeholder="Your Name">
            <input type="email" class="form-control sidebar-nav-comment-input margin-b-10 radius-3" placeholder="Your e-Mail">
            <textarea class="form-control sidebar-nav-comment-input margin-b-30 radius-3" rows="3" placeholder="Your message"></textarea>
            <button type="button" class="btn-white-brd btn-base-sm radius-3">Submit</button>
        </div>
    </div>
    <!--========== END SIDEBAR ==========-->

    <!--========== PAGE CONTENT ==========-->
    <!-- Profile -->
    
    
    <div class="faq">
        <div class="container-xs">
            <h2 class="faq-title">Your Profile</h2>
            <div class="faq-search">
                <input type="text" class="form-control faq-search-input" placeholder="Search for a Job ID...">
                <button class="faq-search-search" type="button"><i class="faq-search-search-icon fa fa-search"></i></button>
            </div>
        </div>
    </div>
    <!-- End Profile -->
    
    <div class="bg-color-sky-light">
        <div class="content-md container">
            <div class="row">
                <div class="col-md-9 margin-b-30">
                    <!-- Tab v4 -->
                    <div class="tab-v4 margin-b-80">
                        <ul class="nav nav-tabs nav-tabs-left" role="tablist">
                            <li class="active" role="presentation">
                                <a class="tab-v4-nav-color-three" href="#tab-v4-1" aria-controls="tab-v4-1" role="tab" data-toggle="tab">
                                    Connect Github Account
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="tab-v4-nav-color-one" href="#tab-v4-2" aria-controls="tab-v4-2" role="tab" data-toggle="tab">
                                    Upload your Resume
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="tab-v4-nav-color-two" href="#tab-v4-3" aria-controls="tab-v4-3" role="tab" data-toggle="tab">
                                    Link to your Portfolio
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="tab-v4-nav-color-four" href="#tab-v4-4" aria-controls="tab-v4-4" role="tab" data-toggle="tab">
                                    Your LinkedIn Profile
                                </a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content" style="padding-left: 20px">
                            <div role="tabpanel" class="tab-pane fade in active" id="tab-v4-1">
                                <div class="panel-group" role="tablist">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab">
                                            <h4 class="panel-title">Github Account</h4>
                                        </div>
                                        <div class="panel-body" role="tabpanel">
                                            <div class="panel-body">
                                                <div ng-show="vm.profile">
                                                    <img width="230" height="230" ng-src="{{vm.profile.picture}}">
                                                    <div>{{vm.profile.name}}</div>
                                                    <div>{{vm.profile.nickname}}</div>
                                                </div>

                                                <div id="login-content" ng-show="!vm.profile">
                                                </div>

                                                <div class="alert alert-success" id="step-github-success-message" style="display: none">Connected to Github Successfully!</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Accordrion v5 -->
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab-v4-2">
                                <div class="panel-group" role="tablist">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab">
                                            <h4 class="panel-title">Upload Resume</h4>
                                        </div>
                                        <div class="panel-body" role="tabpanel">
                                            <div class="panel-body">
                                                <form action="/file-upload"
                                                      class="dropzone"
                                                      id="resume-dropzone"></form>
                                            </div>
                                            <div class="alert alert-success" id="step-resume-success-message" style="display: none">Resume Uploaded Successfully!</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Accordrion v5 -->
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab-v4-3">
                                <div class="panel-group" role="tablist">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab">
                                            <h4 class="panel-title">Your Portfolio</h4>
                                        </div>
                                        <div class="panel-body" role="tabpanel">
                                            <p>Strut your stuff - provide a link to some of your work!</p>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-2x fa-external-link" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" placeholder="http://johnsmith.com"
                                                       ng-model="vm.portfolio" ng-change="vm.stepCompleted('portfolio')">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Accordrion v5 -->
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab-v4-4">
                                <!-- Accordrion v5 -->
                                <div class="panel-group" role="tablist">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab">
                                            <h4 class="panel-title">Your LinkedIn Profile</h4>
                                        </div>
                                        <div class="panel-body" role="tabpanel">
                                            <p>Provide a link to your LinkedIn profile page!</p>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" placeholder="https://www.linkedin.com/in/johnsmith"
                                                       ng-model="vm.linkedin" ng-change="vm.stepCompleted('linkedin')">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Accordrion v5 -->
                            </div>
                        </div>
                    </div>
                    <!-- End Tab v4 -->

                    <!-- Comment Form v1 -->
                    <div class="bg-color-white padding-40">
                        <div class="border-bottom-1 margin-b-40">
                            <!-- Heading v1 -->
                            <div class="heading-v1 margin-b-30">
                                <h2 class="heading-v1-title">Need some more direction?</h2>
                                <p class="heading-v1-text">Contact our Development Team Experts...</p>
                            </div>
                            <!-- end Heading v1 -->
                        </div>

                        <!-- Comment Form v1 -->
                        <form id="comment-form" class="comment-form-v1" action="#" method="get">
                            <div class="row">
                                <div class="col-md-4 margin-b-30">
                                    <input type="text" class="form-control comment-form-v1-input" placeholder="First Name" name="firstname" required>
                                </div>
                                <div class="col-md-4 margin-b-30">
                                    <input type="text" class="form-control comment-form-v1-input" placeholder="Last Name">
                                </div>
                                <div class="col-md-4 margin-b-30">
                                    <input type="email" class="form-control comment-form-v1-input" placeholder="Email" name="email" required>
                                </div>
                            </div>
                            <!--// end row -->
                            
                            <div class="margin-b-30">
                                <textarea class="form-control comment-form-v1-input" rows="5" placeholder="Your message" name="textarea" required></textarea>
                            </div>
                            <button type="submit" class="btn-base-bg btn-base-sm radius-3">Submit</button>
                        </form>
                        <!-- Comment Form v1 -->
                    </div>
                    <!-- End Comment Form v1 -->
                </div>

                <!--========== STATUS SIDEBAR ==========-->
                <div class="col-md-3">
                    <!-- Blog Sidebar -->
                    <div class="blog-sidebar margin-b-30">
                        <div class="blog-sidebar-heading">
                            <!--<i class="fa fa-check fa-1x"></i> -->
                            <h4 class="blog-sidebar-heading-title">Your Progress</h4>
                        </div>
                        <div class="blog-sidebar-content blog-sidebar-content-height scrollbar">
                            <!--Timeline v2 -->
                            <ul class="timeline-v2">
                                <li class="timeline-v2-list-item" ng-repeat="(stepName, step) in vm.steps">
                                    <i class="timeline-v2-badge-icon radius-circle fa"
                                    ng-class="step.completedOn ? 'fa-check-circle' : 'fa-circle-thin'"></i>
                                    <small class="timeline-v2-news-date">{{step.completedOn ? (step.completedOn | date) : 'not yet completed'}}</small>
                                    <h5 class="timeline-v2-news-title">{{step.name}}</h5>
                                </li>
                                <li class="clearfix" style="float: none;"></li>
                            </ul>
                            <!-- End Timeline v2 -->
                        </div>
                    </div>
                    <!-- End Blog Sidebar -->
                </div>
                <!--========== STATUS SIDEBAR ==========-->
            </div>
        </div>
    </div>
    <!--========== END PAGE CONTENT ==========-->

    <!--========== FOOTER ==========-->
    <footer id="footer" class="footer-v2 footer-reveal">
        <div class="content-md container text-right">
            <div class="row">
	            <div class="margin-b-50">
	                <!-- Menu List -->
	                <ul class="list-inline footer-v2-menu-list">
						<li class="footer-v2-menu-list-item"><a class="footer-v2-menu-list-link" href="index.html">Home</a></li>
	                    <li class="footer-v2-menu-list-item"><a class="footer-v2-menu-list-link" href="assessments.html">Assessments</a></li>
	                    <li class="footer-v2-menu-list-item"><a class="footer-v2-menu-list-link" href="profile.html">My Profile</a></li>
	                    <li class="footer-v2-menu-list-item"><a class="footer-v2-menu-list-link" href="#">Contact</a></li>
	                    <li class="footer-v2-menu-list-item"><a class="footer-v2-menu-list-link" href="login.html">Login</a></li>
	                </ul>
	                <!-- End Menu List -->
	            </div>
            </div>

            <!-- Copyright -->
            <div class="row">
	            <div class="footer-v2-copyright">
	                <p class="footer-v2-text">XTRAC Solutions. &#169; 2016 All Rights Reserved.</p>
	            </div>
            </div>
            <!-- End Copyright -->
        </div>
    </footer>
    <!--========== END FOOTER ==========-->
</div>
<!-- END WRAPPER -->

<!-- Sidebar Content Overlay -->
<div class="sidebar-content-overlay"></div>
<!-- End Sidebar Content Overlay -->

<!-- Back To Top -->
<a href="javascript:void(0);" class="js-back-to-top back-to-top-theme"></a>
<!-- End Back To Top -->

<!--========== JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) ==========-->
<!-- CORE PLUGINS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>

<!--[if lt IE 9]>
<script src="assets/plugins/html5shiv.js"></script>
<script src="assets/plugins/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="assets/plugins/jquery.migrate.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/plugins/dropzone.js"></script>
<!-- END CORE PLUGINS -->

<!-- PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="assets/plugins/jquery.back-to-top.js"></script>
<script type="text/javascript" src="assets/plugins/jquery.smooth-scroll.js"></script>
<script type="text/javascript" src="assets/plugins/jquery.animsition.min.js"></script>
<script type="text/javascript" src="assets/plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="assets/plugins/validation/jquery.validate.min.js"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- PAGE LEVEL SCRIPTS -->
<script type="text/javascript" src="assets/scripts/app.js"></script>
<script type="text/javascript" src="assets/scripts/components/header-sticky.js"></script>
<script type="text/javascript" src="assets/scripts/components/animsition.js"></script>
<script type="text/javascript" src="assets/scripts/components/scrollbar.js"></script>
<script type="text/javascript" src="assets/scripts/components/form-modal.js"></script>
<script type="text/javascript" src="assets/scripts/components/magnific-popup.js"></script>
<script type="text/javascript" src="assets/scripts/components/comment-form.js"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<script src="https://cdn.auth0.com/js/lock/10.0/lock.min.js"></script>
<script src="assets/auth0-variables.js"> </script>

<script src="assets/app.js"></script>
<script src="assets/profile.js"></script>
<script src="assets/login.js"></script>


<!--========== END JAVASCRIPTS ==========-->
</body>
<!-- END BODY -->

</html>
